/* common */

.wrap {
 /* width: 100%; */
 max-width: 1500px;
 margin: auto;
}

.project-wrap {
	/* width: 100%; */
	max-width: 1500px;
	margin: auto;
	padding: 30px;
}

.pw-wrap {
	max-width: 1500px;
	margin: auto;
	padding: 40px;
	text-align: center;
	color: white;
	background-color: black;
}

.tit {
	margin-top: 80px;
	font-size: 17pt;
}

.bar {
	border-bottom: 1px solid #ddd;
	margin: 30px 0;
	font-size: 10pt;
}

.ins {
	width: 100%;
	margin: 10px auto;
}

button {
	margin-top: 10px;
	padding: 10px 20px;
	background-color: black;
	color: white;
	cursor: pointer;
}
button:hover {
	background-color: #bbb;
	color: black;
}

/* navigation */
.header {
	letter-spacing: 3px;
	width: 100%;
	padding: 10px 20px;
	background-color: white;
	box-shadow: 0 2px 5px rgba(0,0,0,0.4);
	position: fixed;
	z-index: 9999;
}

.header > li {
	float: right;
	cursor: pointer;
	padding: 6px 20px;
	/* border: 1px solid gray; */
}
.header > li:hover {
	background-color: #ccc;
}

.header > li:first-child {
	float: left;
}

/* banner */

.ban {
	position: relative;
	text-align: center;
	font-size: 30pt;
	color: white;
	background-image: url(../img/architect.jpg);
	background-attachment: fixed;
	height: 800px;
	width: 96%;
	margin: 0 auto;
	/* border: 1px solid gray; */
}

.ban > .tit {
	position: absolute;
	width: 100%;
	height: 50px;
	top: 50%; left: 50%;
	transform: translate(-50%, -50%);
	letter-spacing: 5px;
	font-size: 25pt;
	/* line-height: 100px; */
	/* bottom: 0; right: 0; */
	/* margin: auto; */
	/* border: 1px solid gray; */
}

.ban > .tit > span {
	background-color: black;
	opacity: 0.8;
	padding: 2px 20px;
	font-weight: bold;
}


/* project */

.house {
	margin: 15px auto;
}
.house > div {
	width: 24%;
	float: left;
	position: relative;
	/* border: 1px solid blue; */
	filter: grayscale(0.9);
	transform: translate(0, 3%);
	transition: all, 0.2s;
}
.house > div:hover {
	transform: translate(0, 0);
	filter: grayscale(0);
}

.house > div:not(:last-child) {
	margin-right: 1.3333%;
}

.house > div > .h-label {
	background-color: black;
	color: white;
	font-size: 11pt;
	text-align: center;
	width: 50%;
	padding: 7px 0;
	position: absolute;
}

/* about */
.team {
	margin: 50px 0;
	/* border: 1px solid gray; */
}
.team > .member {
	width: 24%;
	float: left;
	/* border: 1px solid gray; */
}
.team > .member > li {
	margin: 1rem 0;
}

.team > .member:not(:last-child) {
	margin-right: 1.3333%;
}
.team > .member > .profil {
	overflow: hidden;
	/* border: 1px solid gray; */
}
.team > .member > .profil > img:hover {
	transform: scale(1.2);
	transition: all, 1s;
	filter: grayscale(0);
}
.team > .member img {
	filter: grayscale(0.6);
 }

.team > .member > .name {
	font-size: 16pt;
	margin-top	
}
.team > .member > .prof {
	font-size: 12pt;
	color: #aaa;
}

.team > .member > .contact {
	background-color: #eee;
	padding: 0.5rem;
	text-align: center;
	cursor: pointer;
}

.team > .member > .contact:hover {
	background-color: #bbb;
}

/* contact */

/* footer */
.map {
	margin-top: 50px;
}